<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="appcon">
	<select id="getAppconPageByEmpno" parameterType="ParamAppcon" resultType="RawApproval">
	SELECT num,title,content,appline,coopline,empno,ollno,state FROM (
    	SELECT A.*, 
                 ROWNUM AS RNUM,
                 TRUNC((ROWNUM-1)/10+1) AS PAGE,
                 COUNT(*) OVER() AS TOTCNT FROM (
			SELECT num,title,content,appline,coopline,empno,ollno,state
			FROM appcontent
			WHERE empno = #{empno} AND state = #{state}
			ORDER BY num DESC
    	) A
	) WHERE PAGE = #{page}
	</select>
	
	<select id="getAppconByApplinePage" parameterType="ParamAppcon" resultType="RawApproval">
	SELECT num,seq,empno,app_date FROM (
    	SELECT A.*, 
                 ROWNUM AS RNUM,
                 TRUNC((ROWNUM-1)/10+1) AS PAGE,
                 COUNT(*) OVER() AS TOTCNT FROM (
			SELECT ac.*
			FROM appcontent ac, (
				SELECT b.* 
				FROM approval b, (
					SELECT num,min(seq) seq 
					FROM approval 
					WHERE app_date is null group by num
					) c
				WHERE b.num = c.num AND b.seq = c.seq AND b.empno = #{empno}
			) ap
			WHERE ac.appline = ap.num AND ac.state = #{state}
			ORDER BY ac.num DESC;
    	) A
	) WHERE PAGE = #{page}
	</select>
	
	<select id="getAppconByApplineCount" parameterType="ParamAppcon" resultType="int">
	SELECT count(*)
	FROM (SELECT ac.*
			FROM appcontent ac, (
				SELECT b.* 
				FROM approval b, (
					SELECT num,min(seq) seq 
					FROM approval 
					WHERE app_date is null group by num
					) c
				WHERE b.num = c.num AND b.seq = c.seq AND b.empno = #{empno}
			) ap
			WHERE ac.appline = ap.num AND ac.state = #{state})
	</select>
	
	<select id="getAppconByApplinePageCount" parameterType="int" resultType="int">
	SELECT TRUNC((count(*)-1)/10+1)
	FROM (SELECT ac.*
			FROM appcontent ac, (
				SELECT b.* 
				FROM approval b, (
					SELECT num,min(seq) seq 
					FROM approval 
					WHERE app_date is null 
					GROUP BY num
					) c
				WHERE b.num = c.num AND b.seq = c.seq AND b.empno = #{empno}
			) ap
			WHERE ac.appline = ap.num AND ac.state = #{state}
		)
	</select>
	
	<select id="getAppconPageCountByEmpno" resultType="int">
	SELECT TRUNC((count(*)-1)/10+1)
	FROM appcontent
	WHERE empno = #{empno} AND state = #{state}
	</select>
</mapper>