<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="app">
	<insert id="addAppline" parameterType="AppLine">
		<selectKey keyProperty="num" resultType="int" order="BEFORE">
		SELECT SEQ_APPROVALLINE_NO.nextval FROM dual
		</selectKey>
	INSERT INTO approvalline (num)
	VALUES (#{num})
	</insert>
	
	<insert id="addApplist" parameterType="AppLine">
	INSERT ALL
		<foreach item="app" index="index" collection="list">
		INTO approval (num,seq,empno)
		VALUES (#{num},#{index},#{app.empno})
		</foreach>
	SELECT * FROM DUAL
	</insert>
	
	<update id="passApp" parameterType="Approval">
	UPDATE approval
	SET app_date = SYSDATE
	WHERE num = #{num} AND seq = #{seq}
	</update>
	
	<select id="getApplist" parameterType="int" resultType="Approval">
	SELECT num,seq,empno,app_date
	FROM approval
	WHERE num = #{num}
	ORDER BY seq ASC
	</select>
	
	<select id="getApplistEmp" parameterType="int" resultType="ApprovalEmp">
	SELECT e.num num,e.name name,e.dept dept,e.spot spot,a.app_date app_date 
	FROM approval a, (SELECT e.num num, e.name name, d.name dept, s.name spot 
		FROM employee e, department d, spot s
		WHERE e.dept = d.num AND e.spot = s.num) e
	WHERE a.empno = e.num AND a.num = #{num}
	ORDER BY a.seq ASC
	</select>
	
	
	<insert id="addAppcon" parameterType="RawApproval">
	INSERT INTO appcontent (num,title,content,appline,coopline,empno,ollno,state)
	VALUES (SEQ_APPCONTENT_NO.nextval,#{title},#{content},#{appline},#{coopline},#{empno},-1,#{state})
	</insert>
	
	<select id="getAppcon" parameterType="int" resultType="RawApproval">
	SELECT num,title,content,appline,coopline,empno,ollno,state
	FROM appcontent
	WHERE num = #{num}
	</select>
	
	<select id="getAppconPage" parameterType="ParamAppcon" resultType="RawApproval">
	SELECT num,title,content,appline,coopline,empno,ollno,state FROM (
    	SELECT A.*, 
                 ROWNUM AS RNUM,
                 TRUNC((ROWNUM-1)/10+1) AS PAGE,
                 COUNT(*) OVER() AS TOTCNT FROM (
			SELECT num,title,content,appline,coopline,empno,ollno,state
			FROM appcontent
			WHERE state = #{state}
			ORDER BY num DESC
    	) A
	) WHERE PAGE = #{page}
	</select>
	
	<select id="getAppconPageCount" resultType="int">
	SELECT TRUNC((count(*)-1)/10+1)
	FROM appcontent
	WHERE state = #{state}
	</select>
	
	<select id="getAppconPageByEmpno" parameterType="ParamAppcon" resultType="RawApproval">
	SELECT num,title,content,appline,coopline,empno,ollno,state FROM (
    	SELECT A.*, 
                 ROWNUM AS RNUM,
                 TRUNC((ROWNUM-1)/10+1) AS PAGE,
                 COUNT(*) OVER() AS TOTCNT FROM (
			SELECT num,title,content,appline,coopline,empno,ollno,state
			FROM appcontent
			WHERE empno = #{empno} AND state = #{state}
			ORDER BY num DESC
    	) A
	) WHERE PAGE = #{page}
	</select>
	
	<select id="getAppconByApplinePage" parameterType="ParamAppcon" resultType="RawApproval">
	SELECT num,seq,empno,app_date FROM (
    	SELECT A.*, 
                 ROWNUM AS RNUM,
                 TRUNC((ROWNUM-1)/10+1) AS PAGE,
                 COUNT(*) OVER() AS TOTCNT FROM (
			SELECT ac.*
			FROM appcontent ac, (
				SELECT b.* 
				FROM approval b, (
					SELECT num,min(seq) seq 
					FROM approval 
					WHERE app_date is null group by num
					) c
				WHERE b.num = c.num AND b.seq = c.seq AND b.empno = #{empno}
			) ap
			WHERE ac.appline = ap.num AND ac.state = #{state}
			ORDER BY ac.num DESC;
    	) A
	) WHERE PAGE = #{page}
	</select>
	
	<select id="getAppconByApplineCount" parameterType="ParamAppcon" resultType="int">
	SELECT count(*)
	FROM (SELECT ac.*
			FROM appcontent ac, (
				SELECT b.* 
				FROM approval b, (
					SELECT num,min(seq) seq 
					FROM approval 
					WHERE app_date is null group by num
					) c
				WHERE b.num = c.num AND b.seq = c.seq AND b.empno = #{empno}
			) ap
			WHERE ac.appline = ap.num AND ac.state = #{state})
	</select>
	
	<select id="getAppconByApplinePageCount" parameterType="int" resultType="int">
	SELECT TRUNC((count(*)-1)/10+1)
	FROM (SELECT ac.*
			FROM appcontent ac, (
				SELECT b.* 
				FROM approval b, (
					SELECT num,min(seq) seq 
					FROM approval 
					WHERE app_date is null group by num
					) c
				WHERE b.num = c.num AND b.seq = c.seq AND b.empno = #{empno}
			) ap
			WHERE ac.appline = ap.num AND ac.state = #{state}
		)
	</select>
	
	<select id="getAppconPageCountByEmpno" resultType="int">
	SELECT TRUNC((count(*)-1)/10+1)
	FROM appcontent
	WHERE empno = #{empno} AND state = #{state}
	</select>
</mapper>