<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dept">
	<select id="getCategory" resultType="DeptCategory">
	SELECT d.num no, d.name name, NVL(c.count,0) empCount
	FROM department d
	LEFT OUTER JOIN (SELECT dept, count(*) count 
		FROM employee 
		GROUP BY dept) c 
	ON d.num = c.dept
	ORDER BY d.num ASC
	</select>
	
	<select id="getCategoryOne" resultType="DeptCategory" parameterType="Integer">
	SELECT d.num no, d.name name, NVL(c.count,0) empCount
	FROM department d
	LEFT OUTER JOIN (SELECT dept, count(*) count 
		FROM employee 
		GROUP BY dept) c 
	ON d.num = c.dept
	WHERE d.num = #{num}
	ORDER BY d.num ASC
	</select>
	
	<insert id="addDept" parameterType="RawDept">
		<selectKey keyProperty="num" resultType="int" order="AFTER">
		SELECT SEQ_DEPARTMENT_NO.nextval FROM dual
		</selectKey>
	INSERT INTO department (num,name)
	VALUES (#{num},#{name})
	</insert>
	
	<update id="modDept" parameterType="RawDept">
	UPDATE department
	SET name = #{name}
	WHERE num = #{num}
	</update>
	
	<delete id="delDept" parameterType="Integer">
	DELETE FROM department
	WHERE num = #{num}
	</delete>
</mapper>