<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="emp">
	<select id="getEmp" parameterType="int" resultType="Employee">
	SELECT e.num num, d.name dept, s.name spot, e.name name
	FROM department d, spot s, employee e
	WHERE d.num = e.dept and s.num = e.spot and e.num = #{num}
	</select>
	
	<select id="getEmpList" resultType="Employee">
	SELECT e.num num, d.name dept, s.name spot, e.name name
	FROM department d, spot s, employee e
	WHERE d.num = e.dept and s.num = e.spot
	</select>

	<insert id="addEmp" parameterType="RawEmployee">
	INSERT INTO employee (num,name,dept,spot)
	VALUES (SEQ_EMPLOYEE_NO.nextval,#{name},#{dept},#{spot})
	</insert>
	
	<update id="modEmp" parameterType="RawEmployee">
	UPDATE employee
	SET name = #{name}, dept = #{dept}, spot = #{spot}
	WHERE num = #{num}
	</update>
	
	<delete id="delEmp" parameterType="Integer">
	DELETE FROM employee
	WHERE num = #{num}
	</delete>
</mapper>