<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spot">
	<select id="getCategory" resultType="SpotCategory">
	SELECT s.num no, s.name name, NVL(c.count,0) empCount
	FROM spot s
	LEFT OUTER JOIN (SELECT spot, count(*) count 
		FROM employee 
		GROUP BY spot) c 
	ON s.num = c.spot
	ORDER BY s.num ASC
	</select>
	
	<select id="getCategoryOne" resultType="SpotCategory" parameterType="Integer">
	SELECT s.num no, s.name name, NVL(c.count,0) empCount
	FROM spot s
	LEFT OUTER JOIN (SELECT spot, count(*) count 
		FROM employee 
		GROUP BY spot) c 
	ON s.num = c.spot
	WHERE s.num = #{num}
	ORDER BY s.num ASC
	</select>
	
	<insert id="addSpot" parameterType="RawSpot">
		<selectKey keyProperty="num" resultType="int" order="BEFORE">
		SELECT SEQ_SPOT_NO.nextval FROM dual
		</selectKey>
	INSERT INTO spot (num,name)
	VALUES (#{num},#{name})
	</insert>
	
	<update id="modSpot" parameterType="RawSpot">
	UPDATE spot
	SET name = #{name}
	WHERE num = #{num}
	</update>
	
	<delete id="delSpot" parameterType="Integer">
	DELETE FROM spot
	WHERE num = #{num}
	</delete>
</mapper>