<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="spot">
	<select id="getCategory" resultType="SpotCategory">
	SELECT s.num no, s.name name, c.count empCount
	FROM spot s,
		(SELECT spot, count(spot) count
		FROM employee
		GROUP BY spot) c
	WHERE c.spot = s.num
	</select>
</mapper>