<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mobile">
	
	<select id="prod_search" parameterType="String" resultType="com.autoparts.mobile.model.MobileDto">
	SELECT partnum, b_smallname brand, qty, ponum pocode 
	FROM po 
	WHERE partnum=#{part}
	</select>
	
	<select id="bill_list" resultType="com.autoparts.mobile.model.MobileDto">
	SELECT ponum pocode, indate
	FROM po
	WHERE status NOT IN ('COMPLETE') --AND indate BETWEEN sysdate-1 AND sysdate+1
	GROUP BY ponum, indate
	ORDER BY indate DESC
	</select>
	
	<select id="bill_detail" parameterType="String" resultType="com.autoparts.mobile.model.MobileDto">
	  SELECT 
  		 p.partnum part,
         p.b_smallname brand,
         p.qty,
         p.ponum pocode,
         SUM(r.qty) order_qty
    FROM po p JOIN st_recent r ON p.ponum = r.pocode AND p.partnum = r.part
   WHERE p.ponum = #{pocode} AND p.status NOT IN ('COMPLETE')
   GROUP BY p.partnum, p.b_smallname, p.qty, p.ponum
	</select>
	
	<insert id="store" parameterType="com.autoparts.mobile.model.MobileDto">
	INSERT INTO 
	st_recent (part, qty, brand, pocode, inout)
	VALUES(#{part},#{qty},#{brand},#{pocode},'IN')
	</insert>
	
	<insert id="release" parameterType="com.autoparts.mobile.model.MobileDto">
	INSERT INTO 
	st_recent (part, qty, brand, pocode, inout)
	VALUES(#{part},#{qty},#{brand},#{pocode},'OUT')
	</insert>
	
	<insert id="insert" parameterType="com.autoparts.mobile.model.MobileDto">
	INSERT INTO part (part, qty, brand, pocode) 
	VALUES(#{part}, #{qty}, #{brand}, #{pocode})
	</insert>
	
	<update id="update" parameterType="com.autoparts.mobile.model.MobileDto">
	UPDATE part
	SET qty=
		(SELECT qty + #{qty}
		FROM part 
		WHERE pocode=#{pocode} AND part=#{part})
		<if test="qty == order_qty">
		, yn ='Y'
		</if>
		<if test="qty != order_qty">
		, yn ='N'
		</if>
	
	WHERE pocode=#{pocode} AND part=#{part}
	</update>
	<!-- if qty=orderqty =>yn=Y else yn=N -->
	
	<select id="recent" parameterType="com.autoparts.mobile.model.MobileDto" resultType="com.autoparts.mobile.model.MobileDto">
	SELECT part, brand, pocode, qty, inout, TO_CHAR("DATE", 'MM/DD/YY_HH24:MI') "DATE"
	FROM st_recent
	--WHERE "DATE" BETWEEN sysadte-1 AND sysdate+1
	ORDER BY "DATE" DESC
	</select>
	
	<select id="keeplist" parameterType="com.autoparts.mobile.model.MobileDto" resultType="com.autoparts.mobile.model.MobileDto">
	SELECT partnum part, b_smallname brand, qty, ponum pocode, 
		(SELECT SUM(qty)
		FROM st_recent
		WHERE pocode=p.ponum AND part = p.partnum
		GROUP BY part) order_qty
	FROM po p
	WHERE status NOT IN ('COMPLETE')
	</select>
	
	<update id="confirm" parameterType="com.autoparts.mobile.model.MobileDto">
	UPDATE po
	SET status='COMPLETE'
	WHERE ponum=#{pocode}
	</update>
	
	<update id="notconfirm" parameterType="com.autoparts.mobile.model.MobileDto">
	UPDATE po
	SET status='LACK'
	WHERE ponum=#{pocode} AND partnum=#{part}
	</update>
	<!-- <foreach item="item" index="index" collection="keeparr" open="(" separator="," close=")"> -->
	
	<update id="complete" parameterType="com.autoparts.mobile.model.MobileDto">
	UPDATE po
	SET status="COMPLETE"
	WHERE ponum=#{pocode}
	</update>
	
</mapper>